/* General form styling */
.assignmentForm {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #724fc4;
    font-family: Arial, sans-serif;

}

.selectedWordsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 3px;

}

/* Style for words display */
.words {
    padding: 3px;
    background-color: #1c3752;
    border-radius: 4px;
}

.successMessage {
    color: greenyellow;
    font-size: x-large;
    font-weight: bolder;
}

.errorMessage {
    background-color: red;
    color: wheat;
    font-size: large;
}