:root {
    --blue-color: #1e90ff;
    --white-color: #ffffff;
    --lightgray-color: #f9f9f9;

    /* ======  Font =======*/
    --font-family: 'Arial', sans-serif;
    --font-size-mobile: 16px;
    --font-size-tablet: 18px;
    --font-size-laptop: 20px;
    --font-size-desktop: 22px;
    --font-size-large-screen: 40px;

    /* ===== Device height ==== */
    --height-mobile: 400px;
    --height-tablet: 550px;
    --height-laptop: 650px;
    --height-desktop: 800px;
    --height-large-screen: 2050px;

    /* ===== Device width ===== */
    --device-width-mobile: 350px;
    --device-width-tablet: 700px;
    --device-width-laptop: 916px;
    --device-width-desktop: 1600px;
    --device-width-large-screen: 4600px;

    /* ======  Margins and Padding =======*/
    --mobile-table-padding: 4px;
    --tablet-table-padding: 8px;

    /* ======  Box shadow =======*/

    /* === For more box shadows visit https://getcssscan.com/css-box-shadow-examples */

    --box-shadow1: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
        rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px,
        rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px,
        rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;

    --box-shadow2: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
        rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
        rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    --box-shadow3: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px,
        rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px,
        rgba(240, 46, 170, 0.05) -25px 25px;

}