.header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
    background: linear-gradient(to bottom, black 50%, transparent 50%),
        linear-gradient(225deg, black 50%, transparent 50%),
        linear-gradient(to right, transparent 80%, #a3cf00 80%),
        linear-gradient(to right, #616553, rgb(228, 228, 8));
}

.navList {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-evenly;
    text-decoration-line: none;
    gap: 10px;
    width: 100%;
}

.header button {
    margin: 10px;
    width: fit-content;
    font-size: 1em;
}

.navItem {
    text-decoration: none;
    list-style: none;
    color: rgb(255, 255, 255);
    margin: 0 10px;
    font-size: 20px;
}

.ProfileContainer {
    display: 'flex';
    flex-direction: column;
    width: 10%;
    align-items: 'center';
}