.leaderBoard {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  background-color: #f9f9f9;
  max-width: 100%;
  perspective: 1000px;
}

.eachStudent {
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: rotateCube 5s linear infinite;
  padding: 20px;
  display: flex;
  align-items: center;
  border-style: inset;
  border-radius: 50%;
}


.podium {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  box-shadow: var(--box-shadow2);
  border-radius: 12px;
  position: absolute;
  transform: rotateY(0deg) translateZ(27px);
}

.score {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(255, 255, 255);
  box-shadow: var(--box-shadow2);
  border-radius: 12px;
  position: absolute;
  transform: rotateY(120deg) translateZ(27px);
}

.name {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(237, 236, 241);
  box-shadow: var(--box-shadow2);
  border-radius: 12px;
  position: absolute;
  transform: rotateY(240deg) translateZ(27px);
}


@keyframes rotateCube {
  0% {
    transform: rotateY(0deg);
  }

  33.333% {
    transform: rotateY(-120deg);
  }

  66.666% {
    transform: rotateY(-240deg);
  }

  100% {
    transform: rotateY(-360deg);
  }
}

.restOfStudents {
  width: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: rgb(255, 255, 255);
  box-shadow: var(--box-shadow3);
  border-radius: 40%;
}