.studentDashboard {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f7f7f7;
    font-family: 'Arial', sans-serif;
    width: 100%;
}

/* Header Section */
.dashboardHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #2196F3;
    color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dashboardHeader h1 {
    font-size: 2rem;
    margin: 0;
}

/* Body section with sidebar and main content */
.dashboardBody {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    padding: 10px;
}

/* Sidebar Styling */
.sidebar {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 8px;
    padding: 10px;
    gap: 5px;
}
/* Main Content Section */
.mainContent {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
}

.sidebar button {
    background-color: #2196F3;
    color: white;
    border-radius: 5px;
    padding: 12px;
    cursor: pointer;
    font-size: 0.7rem;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #1976D2;
}

.sidebar button:focus {
    outline:auto;
    background-color: #55755e;
}

@media (min-width: 426px) {
    .dashboardBody {
    display: flex;
    flex-direction: row;
    gap: 1px;
}

/* Sidebar Styling */
.sidebar {
    display: flex;
    flex-direction: column;
}
}

