/* === Mobile view === */


.table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-family: Arial, sans-serif;
}


.table th:nth-child(1),
.table td:nth-child(1) {
    width: 100px;
    word-break: break-all;
    padding: var(--mobile-table-padding);
}

.table th:nth-child(2),
.table td:nth-child(2) {
    width: 150px;
    word-break: break-all;
    padding: var(--mobile-table-padding);
}

.table th:nth-child(3),
.table td:nth-child(3) {
    width: 100px;
    word-break: break-all;
    padding: var(--mobile-table-padding);
}

.table th:nth-child(4),
.table td:nth-child(4) {
    width: 100px;
    word-break: break-all;
    padding: var(--mobile-table-padding);
}

/* Style the table headers */
.table th {
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

.table td {
    border: 1px solid #ddd;
}


.table td:nth-of-type(odd) {
    background-color: #f7f7f7;
}

/* Small tablets and large mobiles design */

@media screen and (min-width: 433px) {}

/* Large tablets design */
@media screen and (min-width: 916px) {}

/* Laptop Design */
@media screen and (min-width: 1024px) {}

/* Desktops */
@media screen and (min-width: 1920px) {}

/* Large Screens */
@media screen and (min-width: 5119px) {}