.tableContainer {   
    overflow-x: auto; 
    margin: 1rem 0;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 100%;
}

.table {
   
    width: 100%; 
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: small;
}


.searchBar,
.table th {
    background-color: #4CAF50;
    color: white;
    padding: 12px 18px;
    text-align: left;
    border-bottom: 2px solid #ddd;
    white-space: nowrap; 
}

.searchBar input {
  width: 50%;
  height: 20px; 
}

.table tr {
    border-bottom: 1px solid #d7acac;
}

.table tr:nth-of-type(odd) {
    background-color: #f7f7f7;
}

.table td {
    padding: 12px 18px;
    vertical-align: top; 
}


.wordsTdContainer {
 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
    align-self: center;
}

.eachWord strong {
    display: block; 
    margin-bottom: 4px;
}

.examples{
 font-size: small;
}



