/* ======= Mobile view ====== */
/* Flexbox layout for the word list */
.word_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    margin: 0 auto;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: auto;
    height: 250px;
}

.word_container {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Label styling */
.word_container label {
    font-size: 15px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}


/* Checkbox styling */
.word_container input[type="checkbox"] {
    width: 15px;
    height: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}

.word_container input[type="checkbox"]:hover {
    transform: scale(1.2);
}

.word_container input[type="checkbox"]:checked {
    transform: scale(1.2);
}



/* Highlighting when a word is selected */
.word_container input[type="checkbox"]:checked+label {
    color: #141fc0;
    font-style: italic;
    font-weight: bold;
}

/* Container background changes when checkbox is selected */
.word_container input[type="checkbox"]:checked~.word-container {
    background-color: #4caf50;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.showHideButton {
    display: inline-block;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 10px #999;
    width: 100px;
    align-self: flex-end;
}

button:hover {
    background-color: #80d383
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #af9999;
    transform: translateY(4px);
}





/* Small Tablet design */
@media screen and (min-width: 433px) {
    .mainContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        grid-auto-rows: minmax(var(--height-tablet), auto);
    }

    .wordsContainer {
        grid-column: 1;
    }

    .assignmentFormPosition {
        grid-column: 2;
    }

    .tableDataPosition {
        grid-column: 1/3;
    }

    .word_list {
        height: var(--height-mobile);
        font-size: var(--font-size-mobile);
    }

    .showHideButton {
        width: 150px;
    }

}

/* Large tablets design */
@media screen and (min-width: 916px) {
    .word_list {
        grid-template-columns: 1fr 1fr 1fr;
        height: 250px;
    }

    .word_container label {
        font-size: var(--font-size-laptop);
    }
}

/* Laptop Design */
@media screen and (min-width: 1024px) {
    /* .wordsContainer {
        width: 100%;
    } */

    .word_list {
        grid-template-columns: 1fr 1fr 1fr;
        height: var(--height-mobile);
        font-size: var(--font-size-mobile);
    }
}

/* Desktops */
@media screen and (min-width: 1920px) {

    .word_list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        height: 250px;
    }

    .word_container label {
        font-size: var(--font-size-desktop);
    }
}

/* and Large Screens */
@media screen and (min-width: 5119px) {

    .word_list {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        height: 1000px;
    }

    .word_container label {
        font-size: var(--font-size-large-screen);
    }

    .showHideButton {
        width: 400px;
        text-align: center;
        font-size: var(--font-size-large-screen);
    }
}